@page
@using WaterDrinkingLoggerMVC.Models
@model WaterDrinkingLoggerMVC.Pages.IndexModel
@{
    ViewData["Title"] = "Water Logging Home page";
}

<div class="text-center">
    <h1 class="display-4">Water Logging Application</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Amount</th>
        <th>Time</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    @foreach (WaterDrinking waterDrinking in Model.waterLoggings)
    {
        <tr>
            <td>@waterDrinking.Id</td>
            <td>@waterDrinking.Amount.ToString()</td>
            <td>@waterDrinking.Time.ToString()</td>
            <td>@waterDrinking.User</td>
            <td>
                <form method="post" asp-page-handler="Delete">
                    <input type="hidden" asp-for="@waterDrinking.Id" name="id"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>